.form {
    font-size: 2rem;
    width: 100%;
    padding: 1rem;;

    &__row {
        display: flex;
        margin: 1rem 0;
    }

    &__label {
        width: 20rem;
    }

    &__value {
        width: 20rem;
    }
  }